h1 {
background-color: pink;
font-family: impact;
}

h3{
background-color: pink;
}

h2{
  background-color: pink;
}
body {
background-color: grey;
}

p{
font-size: 170%;
}

ul{
  font-size: 150%;
}

a {color:red;}
